In [1]:
from rowgenerators import parse_app_url
from publicdata.census import CensusFileUrl, CensusReporterUrl
import pandas as pd
from publicdata.census.files.metafiles import *

%load_ext autoreload
%autoreload 2

tl = TableLookup(2020, 5)
tables = tl.tables
tdf = tl.tables_df
tdf

,table_id,seq,start_pos,title,universe,subject,race,age,bare_title,redundant_paths
0,B01001,[1],7,Sex By Age,Total population,Age-Sex,all,None,Sex By Age,False
1,B01001A,[1],56,Sex By Age (White Alone),People who are White alone,Age-Sex,white,None,Sex By Age,False
2,B01001B,[1],87,Sex By Age (Black Or African American Alone),Black or African American alone,Age-Sex,black,None,Sex By Age,False
3,B01001C,[1],118,Sex By Age (American Indian And Alaska Native ...,People who are American Indian and Alaska Nati...,Age-Sex,aian,None,Sex By Age,False
4,B01001D,[1],149,Sex By Age (Asian Alone),People who are Asian alone,Age-Sex,asian,None,Sex By Age,False
...,...,...,...,...,...,...,...,...,...,...
1135,B992708,[147],59,Allocation Of Tricare/Military Health Coverage,Civilian noninstitutionalized population,Imputations,all,None,Allocation Of Tricare/Military Health Coverage,False
1136,B992709,[147],62,Allocation Of Va Health Care,Civilian noninstitutionalized population,Imputations,all,None,Allocation Of Va Health Care,False
1137,B99281,[147],65,Allocation Of Household Internet Access,Households,Imputations,all,None,Allocation Of Household Internet Access,False
1138,B99282,[147],68,Allocation Of Household Computer Type,Households,Imputations,all,None,Allocation Of Household Computer Type,False
1139,B99283,[147],77,Allocation Of Household Internet Subscription ...,Households,Imputations,all,None,Allocation Of Household Internet Subscription ...,False

In [2]:
cdf = tl.columns_df
cdf

,uid,table_id,name,sex,raceeth,age,age_range,min_age,max_age,poverty_status,path,filtered_path,n_levels,level_1,level_2,level_3,level_4,level_5
0,B01001_001,B01001,Total,all,all,all,None,0,120,all,/total,None,0,None,None,None,None,None
1,B01001_002,B01001,Male,male,all,all,None,0,120,all,/total/male,None,0,None,None,None,None,None
2,B01001_003,B01001,Under 5 years,male,all,000-005,"(0, 5)",0,5,all,/total/male/under 5 years,None,0,None,None,None,None,None
3,B01001_004,B01001,5 to 9 years,male,all,005-009,"(5, 9)",5,9,all,/total/male/5 to 9 years,None,0,None,None,None,None,None
4,B01001_005,B01001,10 to 14 years,male,all,010-014,"(10, 14)",10,14,all,/total/male/10 to 14 years,None,0,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27845,B99283_001,B99283,Total,all,all,all,None,0,120,all,/total,None,0,None,None,None,None,None
27846,B99283_002,B99283,Dial-up,all,all,all,None,0,120,all,/total/allocated/dial-up,/allocated,1,allocated,None,None,None,None
27847,B99283_003,B99283,"Broadband such as cable, fiberoptic, or DSL, s...",all,all,all,None,0,120,all,"/total/allocated/broadband such as cable, fibe...",/allocated,1,allocated,None,None,None,None
27848,B99283_004,B99283,Cellular data plan,all,all,all,None,0,120,all,/total/allocated/cellular data plan,/allocated,1,allocated,None,None,None,None
27849,B99283_005,B99283,Not allocated,all,all,all,None,0,120,all,/total/not allocated,None,0,None,None,None,None,None

In [3]:
tdf[(tdf.age.isnull()) & (tdf.race.isnull())].universe.value_counts()

Series([], Name: universe, dtype: int64)

In [4]:
tdf[tdf.age == (1,120)]

,table_id,seq,start_pos,title,universe,subject,race,age,bare_title,redundant_paths
106,B07001,[15],7,Geographical Mobility In The Past Year By Age ...,Population 1 year and over in the United States,Residence Last Year - Migration,all,"(1, 120)",Geographical Mobility In The Past Year By Age ...,False
107,B07001PR,[15],103,Geographical Mobility In The Past Year By Age ...,Population 1 year and over in Puerto Rico,Residence Last Year - Migration,all,"(1, 120)",Geographical Mobility In The Past Year By Age ...,False
108,B07002,[15],199,Median Age By Geographical Mobility In The Pas...,Population 1 year and over in the United States,Residence Last Year - Migration,all,"(1, 120)",Median Age By Geographical Mobility In The Pas...,False
109,B07002PR,[15],205,Median Age By Geographical Mobility In The Pas...,Population 1 year and over in Puerto Rico,Residence Last Year - Migration,all,"(1, 120)",Median Age By Geographical Mobility In The Pas...,False
110,B07003,[15],211,Geographical Mobility In The Past Year By Sex ...,Population 1 year and over in the United States,Residence Last Year - Migration,all,"(1, 120)",Geographical Mobility In The Past Year By Sex ...,False
...,...,...,...,...,...,...,...,...,...,...
934,B26109,[129],89,Group Quarters Type (3 Types) By Geographical ...,Population 1 year and over in the United States,Group Quarters,all,"(1, 120)",Group Quarters Type (3 Types) By Geographical ...,False
935,B26109PR,[129],146,Group Quarters Type (3 Types) By Geographical ...,Population 1 year and over in Puerto Rico,Group Quarters,all,"(1, 120)",Group Quarters Type (3 Types) By Geographical ...,False
961,B26209,[134],138,Group Quarters Type (5 Types) By Geographical ...,Population 1 year and over in the United States,Group Quarters,all,"(1, 120)",Group Quarters Type (5 Types) By Geographical ...,False
1049,B99071,[144],46,Allocation Of Mobility Status For The Populati...,Population 1 year and over,Imputations,all,"(1, 120)",Allocation Of Mobility Status For The Populati...,False
1050,B99072,[144],49,Allocation Of Residence 1 Year Ago For The Pop...,Population 1 year and over,Imputations,all,"(1, 120)",Allocation Of Residence 1 Year Ago For The Pop...,False

In [5]:
cdf[cdf.filtered_path == '/married-couple family']

,uid,table_id,name,sex,raceeth,age,age_range,min_age,max_age,poverty_status,path,filtered_path,n_levels,level_1,level_2,level_3,level_4,level_5
10152,B17012_004,B17012,No child,all,all,all,None,0,120,lt100,/total/income in the past 12 months below pove...,/married-couple family,1,married-couple family,None,None,None,None
10153,B17012_005,B17012,1 or 2 children,all,all,all,None,0,120,lt100,/total/income in the past 12 months below pove...,/married-couple family,1,married-couple family,None,None,None,None
10154,B17012_006,B17012,3 or 4 children,all,all,all,None,0,120,lt100,/total/income in the past 12 months below pove...,/married-couple family,1,married-couple family,None,None,None,None
10155,B17012_007,B17012,5 or more children,all,all,all,None,0,120,lt100,/total/income in the past 12 months below pove...,/married-couple family,1,married-couple family,None,None,None,None
10169,B17012_021,B17012,No child,all,all,all,None,0,120,gt100,/total/income in the past 12 months at or abov...,/married-couple family,1,married-couple family,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14977,B23009_009,B23009,3 or more workers,all,all,000-018,"(0, 18)",0,18,all,/total/with own children of the householder un...,/married-couple family,1,married-couple family,None,None,None,None
14993,B23009_025,B23009,No workers,all,all,000-018,"(0, 18)",0,18,all,/total/no own children of the householder unde...,/married-couple family,1,married-couple family,None,None,None,None
14994,B23009_026,B23009,1 worker,all,all,000-018,"(0, 18)",0,18,all,/total/no own children of the householder unde...,/married-couple family,1,married-couple family,None,None,None,None
14995,B23009_027,B23009,2 workers,all,all,000-018,"(0, 18)",0,18,all,/total/no own children of the householder unde...,/married-couple family,1,married-couple family,None,None,None,None
14998,B23009_030,B23009,3 or more workers,all,all,000-018,"(0, 18)",0,18,all,/total/no own children of the householder unde...,/married-couple family,1,married-couple family,None,None,None,None

In [6]:
cdf[(cdf.sex == 'male') & (cdf.raceeth == 'white')]

,uid,table_id,name,sex,raceeth,age,age_range,min_age,max_age,poverty_status,path,filtered_path,n_levels,level_1,level_2,level_3,level_4,level_5
50,B01001A_002,B01001A,Male,male,white,all,None,0,120,all,/total/male,None,0,None,None,None,None,None
51,B01001A_003,B01001A,Under 5 years,male,white,000-005,"(0, 5)",0,5,all,/total/male/under 5 years,None,0,None,None,None,None,None
52,B01001A_004,B01001A,5 to 9 years,male,white,005-009,"(5, 9)",5,9,all,/total/male/5 to 9 years,None,0,None,None,None,None,None
53,B01001A_005,B01001A,10 to 14 years,male,white,010-014,"(10, 14)",10,14,all,/total/male/10 to 14 years,None,0,None,None,None,None,None
54,B01001A_006,B01001A,15 to 17 years,male,white,015-017,"(15, 17)",15,17,all,/total/male/15 to 17 years,None,0,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15331,C24010A_003,C24010A,"Management, business, science, and arts occupa...",male,white,all,None,0,120,all,"/total/male/management, business, science, and...",None,0,None,None,None,None,None
15332,C24010A_004,C24010A,Service occupations,male,white,all,None,0,120,all,/total/male/service occupations,None,0,None,None,None,None,None
15333,C24010A_005,C24010A,Sales and office occupations,male,white,all,None,0,120,all,/total/male/sales and office occupations,None,0,None,None,None,None,None
15334,C24010A_006,C24010A,"Natural resources, construction, and maintenan...",male,white,all,None,0,120,all,"/total/male/natural resources, construction, a...",None,0,None,None,None,None,None
15335,C24010A_007,C24010A,"Production, transportation, and material movin...",male,white,all,None,0,120,all,"/total/male/production, transportation, and ma...",None,0,None,None,None,None,None

In [7]:
lc = cdf.level_1.value_counts()
cdf[cdf.level_1.isin(lc[lc == 1].index)]

,uid,table_id,name,sex,raceeth,age,age_range,min_age,max_age,poverty_status,path,filtered_path,n_levels,level_1,level_2,level_3,level_4,level_5
6320,B09005_004,B09005,"In male householder, no spouse/partner present...",all,all,all,None,0,120,all,"/total/in male householder, no spouse/partner ...","/in male householder, no spouse",1,"in male householder, no spouse",None,None,None,None
6321,B09005_005,B09005,"In female householder, no spouse/partner prese...",all,all,all,None,0,120,all,"/total/in female householder, no spouse/partne...","/in female householder, no spouse",1,"in female householder, no spouse",None,None,None,None
12311,B19058_002,B19058,With cash public assistance or Food Stamps/SNAP,all,all,all,None,0,120,all,/total/with cash public assistance or food sta...,/with cash public assistance or food stamps,1,with cash public assistance or food stamps,None,None,None,None
12312,B19058_003,B19058,No cash public assistance or Food Stamps/SNAP,all,all,all,None,0,120,all,/total/no cash public assistance or food stamp...,/no cash public assistance or food stamps,1,no cash public assistance or food stamps,None,None,None,None
12544,B19123_002,B19123,With cash public assistance income or househol...,all,all,all,None,0,120,all,/total/with cash public assistance income or h...,/with cash public assistance income or househo...,1,with cash public assistance income or househol...,None,None,None,None
12545,B19123_003,B19123,No cash public assistance income or household ...,all,all,all,None,0,120,all,/total/no cash public assistance income or hou...,/no cash public assistance income or household...,1,no cash public assistance income or household ...,None,None,None,None
27406,B98002_002,B98002,Final actual interviews,all,all,all,None,0,120,all,/initial sample selected/final actual interviews,/initial sample selected,1,initial sample selected,None,None,None,None

In [8]:
tdf[tdf.universe.apply(Column.extract_age).isnull()].sample(30).head(30)

,table_id,seq,start_pos,title,universe,subject,race,age,bare_title,redundant_paths
311,B11002D,[35],145,Household Type By Relatives And Nonrelatives F...,Population in households with a householder wh...,Households - Families,asian,None,Household Type By Relatives And Nonrelatives F...,False
458,B17010D,[51],7,Poverty Status In The Past 12 Months Of Famili...,Families with a householder who is Asian alone,Poverty,asian,None,Poverty Status In The Past 12 Months Of Famili...,False
301,B11001D,[35],43,Household Type (Including Living Alone) (Asian...,Households with a householder who is Asian alone,Households - Families,asian,None,Household Type (Including Living Alone),False
488,B17026,[55],153,Ratio Of Income To Poverty Level Of Families I...,Families,Poverty,all,None,Ratio Of Income To Poverty Level Of Families I...,False
1018,B28009F,[141],160,Presence Of A Computer And Type Of Internet Su...,Some other race alone household population,Computer and Internet Usage,other,None,Presence Of A Computer And Type Of Internet Su...,False
1111,B992514,[146],224,Allocation Of Meals Included In Rent,Renter-occupied housing units paying cash rent,Imputations,all,None,Allocation Of Meals Included In Rent,False
897,B25111,[123],89,Median Gross Rent By Year Structure Built,Renter-occupied housing units paying cash rent,Housing,all,None,Median Gross Rent By Year Structure Built,False
92,B06004I,[12],247,Place Of Birth (Hispanic Or Latino) In The Uni...,Hispanic or Latino population in the United St...,Place of Birth - Native,hisp,None,Place Of Birth In The United States,False
877,B25091,[121],109,Mortgage Status By Selected Monthly Owner Cost...,Owner-occupied housing units,Housing,all,None,Mortgage Status By Selected Monthly Owner Cost...,False
595,B19113G,[63],82,Median Family Income In The Past 12 Months (In...,Families with a householder who is Two or more...,Income,many,None,Median Family Income In The Past 12 Months (In...,False
627,B19301D,[64],176,Per Capita Income In The Past 12 Months (In 20...,People who are Asian alone,Income,asian,None,Per Capita Income In The Past 12 Months (In 20...,False
91,B06004HPR,[12],242,"Place Of Birth (White Alone, Not Hispanic Or L...","White alone, not Hispanic or Latino population...",Place of Birth - Native,nhwhite,None,Place Of Birth In Puerto Rico,False
607,B19130,[63],156,Aggregate Family Income In The Past 12 Months ...,Families,Income,all,None,Aggregate Family Income In The Past 12 Months ...,False
602,B19125,[63],123,Median Family Income In The Past 12 Months (In...,Families,Income,all,None,Median Family Income In The Past 12 Months (In...,False
326,B11012,[36],126,Households By Type,Households,Households - Families,all,None,Households By Type,False
1037,B98022,[143],35,Group Quarters Population Response And Nonresp...,Population in Group Quarters,Quality Measures,all,None,Group Quarters Population Response And Nonresp...,False
856,B25068,[120],73,Bedrooms By Gross Rent,Renter-occupied housing units,Housing,all,None,Bedrooms By Gross Rent,False
601,B19123,[63],102,Family Size By Cash Public Assistance Income O...,Families,Income,all,None,Family Size By Cash Public Assistance Income O...,False
1007,B28003,[141],31,Presence Of A Computer And Type Of Internet Su...,Households,Computer and Internet Usage,all,None,Presence Of A Computer And Type Of Internet Su...,False
406,C15010,[43],62,Field Of Bachelor'S Degree For First Major For...,POPULATION 25 YEARS AND OVER WITH A BACHELOR'S...,Educational Attainment,all,None,Field Of Bachelor'S Degree For First Major For...,False
587,B19101I,[63],58,Family Income In The Past 12 Months (In 2020 I...,Families with a householder who is Hispanic or...,Income,hisp,None,Family Income In The Past 12 Months (In 2020 I...,False
275,B10001,[34],7,Grandchildren Under 18 Years Living With A Gra...,Grandchildren under 18 living with grandparent...,Grand(Persons) - Age of HH Members,all,None,Grandchildren Under 18 Years Living With A Gra...,False
525,B19013C,[58],180,Median Household Income In The Past 12 Months ...,Households with a householder who is American ...,Income,aian,None,Median Household Income In The Past 12 Months ...,False
85,B06004EPR,[12],212,Place Of Birth (Native Hawaiian And Other Paci...,Native Hawaiian and Other Pacific Islander alo...,Place of Birth - Native,nhopi,None,Place Of Birth In Puerto Rico,False
404,B15011,[43],7,Sex By Age By Field Of Bachelor'S Degree For F...,POPULATION 25 YEARS AND OVER WITH A BACHELOR'S...,Educational Attainment,all,None,Sex By Age By Field Of Bachelor'S Degree For F...,False
308,B11002A,[35],109,Household Type By Relatives And Nonrelatives F...,Population in households with a householder wh...,Households - Families,white,None,Household Type By Relatives And Nonrelatives F...,False
878,B25092,[121],132,Median Selected Monthly Owner Costs As A Perce...,Owner-occupied housing units,Housing,all,None,Median Selected Monthly Owner Costs As A Perce...,False
946,B26203,[133],25,Group Quarters Type (5 Types),Total Population,Group Quarters,all,None,Group Quarters Type (5 Types),False
697,B22005I,[74],72,Receipt Of Food Stamps/Snap In The Past 12 Mon...,Households with a householder who is Hispanic ...,Transfer Programs,hisp,None,Receipt Of Food Stamps/Snap In The Past 12 Mon...,False
495,B18101F,[56],96,Age By Disability Status (Some Other Race Alone),Some other race alone civilian noninstitutiona...,Disability,other,None,Age By Disability Status,False

In [9]:
x = tdf[tdf.universe.str.contains('Asian')]

x[~x.universe.apply(Column.extract_raceeth).isnull()]

,table_id,seq,start_pos,title,universe,subject,race,age,bare_title,redundant_paths
4,B01001D,[1],149,Sex By Age (Asian Alone),People who are Asian alone,Age-Sex,asian,None,Sex By Age,False
14,B01002D,[2],112,Median Age By Sex (Asian Alone),People who are Asian alone,Age-Sex,asian,None,Median Age By Sex,False
25,B02011,[3],20,Asian Alone Or In Combination With One Or More...,Asian alone or in combination with one or more...,Race,asian,None,Asian Alone Or In Combination With One Or More...,False
29,B02015,[3],78,Asian Alone By Selected Groups,Total Asian alone population,Race,asian,None,Asian Alone By Selected Groups,False
32,B02018,[3],169,Asian Alone Or In Any Combination By Selected ...,Total Asian alone or in any combination popula...,Race,asian,None,Asian Alone Or In Any Combination By Selected ...,False
49,B05003D,[7],138,Sex By Age By Nativity And Citizenship Status ...,People who are Asian alone,Foreign Birth,asian,None,Sex By Age By Nativity And Citizenship Status,False
82,B06004D,[12],197,Place Of Birth (Asian Alone) In The United States,Asian alone population in the United States,Place of Birth - Native,asian,None,Place Of Birth In The United States,False
83,B06004DPR,[12],202,Place Of Birth (Asian Alone) In Puerto Rico,Asian alone population in Puerto Rico,Place of Birth - Native,asian,None,Place Of Birth In Puerto Rico,False
118,B07004D,[16],43,Geographical Mobility In The Past Year (Asian ...,Asian alone population 1 year and over in the ...,Residence Last Year - Migration,asian,"(1, 120)",Geographical Mobility In The Past Year For Cur...,False
119,B07004DPR,[16],49,Geographical Mobility In The Past Year (Asian ...,Asian alone population 1 year and over in Puer...,Residence Last Year - Migration,asian,"(1, 120)",Geographical Mobility In The Past Year For Cur...,False
162,B07404D,[19],222,Geographical Mobility In The Past Year (Asian ...,Asian alone population 1 year and over in the ...,Residence Last Year - Migration,asian,"(1, 120)",Geographical Mobility In The Past Year For Res...,False
171,B07404DPR,[20],22,Geographical Mobility In The Past Year (Asian ...,Asian alone population 1 year and over,Residence Last Year - Migration,asian,"(1, 120)",Geographical Mobility In The Past Year For Res...,False
208,B08105D,[23],122,Means Of Transportation To Work (Asian Alone),Asian alone workers 16 years and over,Journey to Work,asian,"(16, 120)",Means Of Transportation To Work,False
244,B08505D,[28],181,Means Of Transportation To Work For Workplace ...,Asian alone workers 16 years and over,Journey to Work,asian,"(16, 120)",Means Of Transportation To Work For Workplace ...,False
283,B10051D,[34],61,Grandparents Living With Own Grandchildren Und...,Grandparents (Asian alone) living with own gra...,Grand(Persons) - Age of HH Members,asian,"(0, 18)",Grandparents Living With Own Grandchildren Und...,False
301,B11001D,[35],43,Household Type (Including Living Alone) (Asian...,Households with a householder who is Asian alone,Households - Families,asian,None,Household Type (Including Living Alone),False
311,B11002D,[35],145,Household Type By Relatives And Nonrelatives F...,Population in households with a householder wh...,Households - Families,asian,None,Household Type By Relatives And Nonrelatives F...,False
337,B12002D,[38],7,Sex By Marital Status For The Population 15 Ye...,Asian alone population 15 years and over,Marital Status,asian,"(15, 120)",Sex By Marital Status For The Population 15 Ye...,False
348,B12007D,[38],149,Median Age At First Marriage (Asian Alone),Asian alone population 15 to 54 years,Marital Status,asian,"(15, 54)",Median Age At First Marriage,False
363,B13002D,[39],47,Women 15 To 50 Years Who Had A Birth In The Pa...,Asian alone women 15 to 50 years,Fertility,asian,"(15, 50)",Women 15 To 50 Years Who Had A Birth In The Pa...,False
386,B14007D,[41],45,School Enrollment By Detailed Level Of School ...,Asian alone population 3 years and over,School Enrollment,asian,"(3, 120)",School Enrollment By Detailed Level Of School ...,False
398,C15002D,[42],183,Sex By Educational Attainment For The Populati...,Asian alone population 25 years and over,Educational Attainment,asian,"(25, 120)",Sex By Educational Attainment For The Populati...,False
425,B16005D,[45],152,Nativity By Language Spoken At Home By Ability...,Asian alone population 5 years and over,Language,asian,"(5, 120)",Nativity By Language Spoken At Home By Ability...,False
440,B17001D,[48],7,Poverty Status In The Past 12 Months By Sex By...,Asian alone population for whom poverty status...,Poverty,asian,None,Poverty Status In The Past 12 Months By Sex By...,False
458,B17010D,[51],7,Poverty Status In The Past 12 Months Of Famili...,Families with a householder who is Asian alone,Poverty,asian,None,Poverty Status In The Past 12 Months Of Famili...,False
477,B17020D,[53],192,Poverty Status In The Past 12 Months By Age (A...,Asian alone population for whom poverty status...,Poverty,asian,None,Poverty Status In The Past 12 Months By Age,False
493,B18101D,[56],76,Age By Disability Status (Asian Alone),Asian alone civilian noninstitutionalized popu...,Disability,asian,None,Age By Disability Status,False
516,B19001D,[58],75,Household Income In The Past 12 Months (In 202...,Households with a householder who is Asian alone,Income,asian,None,Household Income In The Past 12 Months (In 202...,False
526,B19013D,[58],181,Median Household Income In The Past 12 Months ...,Households with a householder who is Asian alone,Income,asian,None,Median Household Income In The Past 12 Months ...,False
537,B19025D,[58],199,Aggregate Household Income In The Past 12 Mont...,Households with a householder who is Asian alone,Income,asian,None,Aggregate Household Income In The Past 12 Mont...,False
547,B19037D,[60],76,Age Of Householder By Household Income In The ...,Households with a householder who is Asian alone,Income,asian,None,Age Of Householder By Household Income In The ...,False
582,B19101D,[62],211,Family Income In The Past 12 Months (In 2020 I...,Families with a householder who is Asian alone,Income,asian,None,Family Income In The Past 12 Months (In 2020 I...,False
592,B19113D,[63],79,Median Family Income In The Past 12 Months (In...,Families with a householder who is Asian alone,Income,asian,None,Median Family Income In The Past 12 Months (In...,False
614,B19202D,[64],135,Median Nonfamily Household Income In The Past ...,Nonfamily households with a householder who is...,Income,asian,None,Median Nonfamily Household Income In The Past ...,False
627,B19301D,[64],176,Per Capita Income In The Past 12 Months (In 20...,People who are Asian alone,Income,asian,None,Per Capita Income In The Past 12 Months (In 20...,False
637,B19313D,[64],186,Aggregate Income In The Past 12 Months (In 202...,Asian alone population 15 years and over,Income,asian,"(15, 120)",Aggregate Income In The Past 12 Months (In 202...,False
653,B20005D,[68],102,Sex By Work Experience In The Past 12 Months B...,Asian alone population 16 years and over,Earnings,asian,"(16, 120)",Sex By Work Experience In The Past 12 Months B...,False
663,B20017D,[71],130,Median Earnings In The Past 12 Months (In 2020...,Asian alone population 16 years and over with ...,Earnings,asian,"(16, 120)",Median Earnings In The Past 12 Months (In 2020...,True
678,C21001D,[72],159,Sex By Age By Veteran Status For The Civilian ...,Asian alone civilian population 18 years and over,Veteran Status,asian,"(18, 120)",Sex By Age By Veteran Status For The Civilian ...,False
692,B22005D,[74],57,Receipt Of Food Stamps/Snap In The Past 12 Mon...,Households with a householder who is Asian alone,Transfer Programs,asian,None,Receipt Of Food Stamps/Snap In The Past 12 Mon...,False
706,C23002D,[76],64,Sex By Age By Employment Status For The Popula...,Asian alone population 16 years and over,Employment Status,asian,"(16, 120)",Sex By Age By Employment Status For The Popula...,False
730,C24010D,[79],155,Sex By Occupation For The Civilian Employed Po...,Civilian employed Asian alone population 16 ye...,Industry-Occupation-Class of Worker,asian,"(16, 120)",Sex By Occupation For The Civilian Employed Po...,False
773,B25003D,[117],23,Tenure (Asian Alone Householder),Occupied housing units with a householder who ...,Housing,asian,None,Tenure,False
793,B25014D,[117],205,Occupants Per Room (Asian Alone Householder),Occupied housing units with a householder who ...,Housing,asian,None,Occupants Per Room,False
815,B25032D,[118],171,Units In Structure (Asian Alone Householder),Occupied housing units with a householder who ...,Housing,asian,None,Units In Structure,False
923,B26103D,[128],23,Group Quarters Type (3 Types) (Asian Alone),Asian alone population,Group Quarters,asian,None,Group Quarters Type (3 Types),False
950,B26203D,[133],65,Group Quarters Type (5 Types) (Asian Alone),Asian alone population,Group Quarters,asian,None,Group Quarters Type (5 Types),False
1016,B28009D,[141],148,Presence Of A Computer And Type Of Internet Su...,Asian alone household population,Computer and Internet Usage,asian,None,Presence Of A Computer And Type Of Internet Su...,False

In [10]:
x

,table_id,seq,start_pos,title,universe,subject,race,age,bare_title,redundant_paths
4,B01001D,[1],149,Sex By Age (Asian Alone),People who are Asian alone,Age-Sex,asian,None,Sex By Age,False
14,B01002D,[2],112,Median Age By Sex (Asian Alone),People who are Asian alone,Age-Sex,asian,None,Median Age By Sex,False
25,B02011,[3],20,Asian Alone Or In Combination With One Or More...,Asian alone or in combination with one or more...,Race,asian,None,Asian Alone Or In Combination With One Or More...,False
29,B02015,[3],78,Asian Alone By Selected Groups,Total Asian alone population,Race,asian,None,Asian Alone By Selected Groups,False
32,B02018,[3],169,Asian Alone Or In Any Combination By Selected ...,Total Asian alone or in any combination popula...,Race,asian,None,Asian Alone Or In Any Combination By Selected ...,False
49,B05003D,[7],138,Sex By Age By Nativity And Citizenship Status ...,People who are Asian alone,Foreign Birth,asian,None,Sex By Age By Nativity And Citizenship Status,False
82,B06004D,[12],197,Place Of Birth (Asian Alone) In The United States,Asian alone population in the United States,Place of Birth - Native,asian,None,Place Of Birth In The United States,False
83,B06004DPR,[12],202,Place Of Birth (Asian Alone) In Puerto Rico,Asian alone population in Puerto Rico,Place of Birth - Native,asian,None,Place Of Birth In Puerto Rico,False
118,B07004D,[16],43,Geographical Mobility In The Past Year (Asian ...,Asian alone population 1 year and over in the ...,Residence Last Year - Migration,asian,"(1, 120)",Geographical Mobility In The Past Year For Cur...,False
119,B07004DPR,[16],49,Geographical Mobility In The Past Year (Asian ...,Asian alone population 1 year and over in Puer...,Residence Last Year - Migration,asian,"(1, 120)",Geographical Mobility In The Past Year For Cur...,False
162,B07404D,[19],222,Geographical Mobility In The Past Year (Asian ...,Asian alone population 1 year and over in the ...,Residence Last Year - Migration,asian,"(1, 120)",Geographical Mobility In The Past Year For Res...,False
171,B07404DPR,[20],22,Geographical Mobility In The Past Year (Asian ...,Asian alone population 1 year and over,Residence Last Year - Migration,asian,"(1, 120)",Geographical Mobility In The Past Year For Res...,False
208,B08105D,[23],122,Means Of Transportation To Work (Asian Alone),Asian alone workers 16 years and over,Journey to Work,asian,"(16, 120)",Means Of Transportation To Work,False
244,B08505D,[28],181,Means Of Transportation To Work For Workplace ...,Asian alone workers 16 years and over,Journey to Work,asian,"(16, 120)",Means Of Transportation To Work For Workplace ...,False
283,B10051D,[34],61,Grandparents Living With Own Grandchildren Und...,Grandparents (Asian alone) living with own gra...,Grand(Persons) - Age of HH Members,asian,"(0, 18)",Grandparents Living With Own Grandchildren Und...,False
301,B11001D,[35],43,Household Type (Including Living Alone) (Asian...,Households with a householder who is Asian alone,Households - Families,asian,None,Household Type (Including Living Alone),False
311,B11002D,[35],145,Household Type By Relatives And Nonrelatives F...,Population in households with a householder wh...,Households - Families,asian,None,Household Type By Relatives And Nonrelatives F...,False
337,B12002D,[38],7,Sex By Marital Status For The Population 15 Ye...,Asian alone population 15 years and over,Marital Status,asian,"(15, 120)",Sex By Marital Status For The Population 15 Ye...,False
348,B12007D,[38],149,Median Age At First Marriage (Asian Alone),Asian alone population 15 to 54 years,Marital Status,asian,"(15, 54)",Median Age At First Marriage,False
363,B13002D,[39],47,Women 15 To 50 Years Who Had A Birth In The Pa...,Asian alone women 15 to 50 years,Fertility,asian,"(15, 50)",Women 15 To 50 Years Who Had A Birth In The Pa...,False
386,B14007D,[41],45,School Enrollment By Detailed Level Of School ...,Asian alone population 3 years and over,School Enrollment,asian,"(3, 120)",School Enrollment By Detailed Level Of School ...,False
398,C15002D,[42],183,Sex By Educational Attainment For The Populati...,Asian alone population 25 years and over,Educational Attainment,asian,"(25, 120)",Sex By Educational Attainment For The Populati...,False
425,B16005D,[45],152,Nativity By Language Spoken At Home By Ability...,Asian alone population 5 years and over,Language,asian,"(5, 120)",Nativity By Language Spoken At Home By Ability...,False
440,B17001D,[48],7,Poverty Status In The Past 12 Months By Sex By...,Asian alone population for whom poverty status...,Poverty,asian,None,Poverty Status In The Past 12 Months By Sex By...,False
458,B17010D,[51],7,Poverty Status In The Past 12 Months Of Famili...,Families with a householder who is Asian alone,Poverty,asian,None,Poverty Status In The Past 12 Months Of Famili...,False
477,B17020D,[53],192,Poverty Status In The Past 12 Months By Age (A...,Asian alone population for whom poverty status...,Poverty,asian,None,Poverty Status In The Past 12 Months By Age,False
493,B18101D,[56],76,Age By Disability Status (Asian Alone),Asian alone civilian noninstitutionalized popu...,Disability,asian,None,Age By Disability Status,False
516,B19001D,[58],75,Household Income In The Past 12 Months (In 202...,Households with a householder who is Asian alone,Income,asian,None,Household Income In The Past 12 Months (In 202...,False
526,B19013D,[58],181,Median Household Income In The Past 12 Months ...,Households with a householder who is Asian alone,Income,asian,None,Median Household Income In The Past 12 Months ...,False
537,B19025D,[58],199,Aggregate Household Income In The Past 12 Mont...,Households with a householder who is Asian alone,Income,asian,None,Aggregate Household Income In The Past 12 Mont...,False
547,B19037D,[60],76,Age Of Householder By Household Income In The ...,Households with a householder who is Asian alone,Income,asian,None,Age Of Householder By Household Income In The ...,False
582,B19101D,[62],211,Family Income In The Past 12 Months (In 2020 I...,Families with a householder who is Asian alone,Income,asian,None,Family Income In The Past 12 Months (In 2020 I...,False
592,B19113D,[63],79,Median Family Income In The Past 12 Months (In...,Families with a householder who is Asian alone,Income,asian,None,Median Family Income In The Past 12 Months (In...,False
614,B19202D,[64],135,Median Nonfamily Household Income In The Past ...,Nonfamily households with a householder who is...,Income,asian,None,Median Nonfamily Household Income In The Past ...,False
627,B19301D,[64],176,Per Capita Income In The Past 12 Months (In 20...,People who are Asian alone,Income,asian,None,Per Capita Income In The Past 12 Months (In 20...,False
637,B19313D,[64],186,Aggregate Income In The Past 12 Months (In 202...,Asian alone population 15 years and over,Income,asian,"(15, 120)",Aggregate Income In The Past 12 Months (In 202...,False
653,B20005D,[68],102,Sex By Work Experience In The Past 12 Months B...,Asian alone population 16 years and over,Earnings,asian,"(16, 120)",Sex By Work Experience In The Past 12 Months B...,False
663,B20017D,[71],130,Median Earnings In The Past 12 Months (In 2020...,Asian alone population 16 years and over with ...,Earnings,asian,"(16, 120)",Median Earnings In The Past 12 Months (In 2020...,True
678,C21001D,[72],159,Sex By Age By Veteran Status For The Civilian ...,Asian alone civilian population 18 years and over,Veteran Status,asian,"(18, 120)",Sex By Age By Veteran Status For The Civilian ...,False
692,B22005D,[74],57,Receipt Of Food Stamps/Snap In The Past 12 Mon...,Households with a householder who is Asian alone,Transfer Programs,asian,None,Receipt Of Food Stamps/Snap In The Past 12 Mon...,False
706,C23002D,[76],64,Sex By Age By Employment Status For The Popula...,Asian alone population 16 years and over,Employment Status,asian,"(16, 120)",Sex By Age By Employment Status For The Popula...,False
730,C24010D,[79],155,Sex By Occupation For The Civilian Employed Po...,Civilian employed Asian alone population 16 ye...,Industry-Occupation-Class of Worker,asian,"(16, 120)",Sex By Occupation For The Civilian Employed Po...,False
773,B25003D,[117],23,Tenure (Asian Alone Householder),Occupied housing units with a householder who ...,Housing,asian,None,Tenure,False
793,B25014D,[117],205,Occupants Per Room (Asian Alone Householder),Occupied housing units with a householder who ...,Housing,asian,None,Occupants Per Room,False
815,B25032D,[118],171,Units In Structure (Asian Alone Householder),Occupied housing units with a householder who ...,Housing,asian,None,Units In Structure,False
923,B26103D,[128],23,Group Quarters Type (3 Types) (Asian Alone),Asian alone population,Group Quarters,asian,None,Group Quarters Type (3 Types),False
950,B26203D,[133],65,Group Quarters Type (5 Types) (Asian Alone),Asian alone population,Group Quarters,asian,None,Group Quarters Type (5 Types),False
1016,B28009D,[141],148,Presence Of A Computer And Type Of Internet Su...,Asian alone household population,Computer and Internet Usage,asian,None,Presence Of A Computer And Type Of Internet Su...,False

In [11]:
t = tdf[['table_id','bare_title','universe']].merge(cdf)

restr_cols = 'sex','raceeth','age_range','poverty'

    
t.apply(lambda r: f"{r.bare_title} for {r.universe}", axis=1).sample(30).to_list()

['Sex By Age for People who are Some Other Race alone',
 'Means Of Transportation To Work By Vehicles Available For Workplace Geography for Workers 16 years and over in households',
 'Travel Time To Work For Workplace Geography for Workers 16 years and over who did not work from home',
 'Detailed Occupation For The Civilian Employed Female Population 16 Years And Over for Civilian employed female population 16 years and over',
 'Detailed Occupation By Median Earnings In The Past 12 Months (In 2020 Inflation-Adjusted Dollars) For The Full-Time, Year-Round Civilian Employed Population 16 Years And Over for Full-time, year-round civilian employed population 16 years and over with earnings',
 'Age Of Householder By Household Income In The Past 12 Months (In 2020 Inflation-Adjusted Dollars) for Households with a householder who is White alone, not Hispanic or Latino',
 'American Indian And Alaska Native Alone For Selected Tribal Groupings for People who are American Indian and Alaska Native alone and people with no tribe reported',
 'Sex By Age By Employment Status For The Population 16 Years And Over for White alone population 16 years and over',
 'Detailed Occupation By Median Earnings In The Past 12 Months (In 2020 Inflation-Adjusted Dollars) For The Full-Time, Year-Round Civilian Employed Female Population 16 Years And Over for Full-time, year-round civilian employed female population 16 years and over with earnings',
 'Means Of Transportation To Work By Place Of Work--State And County Level for Workers 16 years and over',
 'Language Spoken At Home By Ability To Speak English For The Population 5 Years And Over for Population 5 years and over',
 'Detailed Race for Total population',
 'Types Of Health Insurance Coverage By Age for Civilian noninstitutionalized population',
 'Household Income In The Past 12 Months (In 2020 Inflation-Adjusted Dollars) By Gross Rent for Renter-occupied housing units',
 'School Enrollment By Detailed Level Of School For The Population 3 Years And Over for Two or more races population 3 years and over',
 'Sex By Age By Nativity And Citizenship Status for People who are American Indian and Alaska Native alone',
 "Allocation Of Field Of Degree For Population 25 Years And Over for POPULATION 25 YEARS AND OVER WITH A BACHELOR'S DEGREE OR HIGHER ATTAINMENT",
 'Receipt Of Food Stamps/Snap In The Past 12 Months By Poverty Status In The Past 12 Months For Households for Households',
 'Receipt Of Food Stamps/Snap In The Past 12 Months By Family Type By Number Of Workers In Family In The Past 12 Months for Families',
 'People Reporting Ancestry for Total population',
 "Field Of Bachelor'S Degree For First Major The Population 25 Years And Over for SOME OTHER RACE ALONE POPULATION 25 YEARS AND OVER WITH A BACHELOR'S DEGREE OR HIGHER ATTAINMENT",
 'Sex By Marital Status For The Population 15 Years And Over for Some other race alone population 15 years and over',
 'Sex By Industry And Median Earnings In The Past 12 Months (In 2020 Inflation-Adjusted Dollars) For The Full-Time, Year-Round Civilian Employed Population 16 Years And Over for Full-time, year-round civilian employed population 16 years and over with earnings',
 'Units In Structure for Housing units',
 'Geographical Mobility In The Past Year By Age For Residence 1 Year Ago In The United States for Population 1 year and over in the United States',
 'Receipt Of Supplemental Security Income (Ssi), Cash Public Assistance Income, Or Food Stamps/Snap In The Past 12 Months By Household Type For Children Under 18 Years In Households for Population under 18 years in households',
 'Presence Of Own Children Under 18 Years By Age Of Own Children Under 18 Years By Employment Status For Females 20 To 64 Years for Females 20 to 64 years in households',
 'Detailed Occupation By Median Earnings In The Past 12 Months (In 2020 Inflation-Adjusted Dollars) For The Full-Time, Year-Round Civilian Employed Population 16 Years And Over for Full-time, year-round civilian employed population 16 years and over with earnings',
 'Detailed Occupation By Median Earnings In The Past 12 Months (In 2020 Inflation-Adjusted Dollars) For The Full-Time, Year-Round Civilian Employed Male Population 16 Years And Over for Full-time, year-round civilian employed male population 16 years and over with earnings',
 'Detailed Industry For The Civilian Employed Female Population 16 Years And Over for Civilian employed female population 16 years and over']