In [1]:
%load_ext autoreload
%autoreload 2

# noinspection PyUnresolvedReferences
from rowgenerators import parse_app_url
from publicdata.census import CensusFileUrl, CensusReporterUrl
import pandas as pd
from publicdata.census.files.metafiles import *

In [14]:

tl = TableLookup(2020, 5)
tables = tl.tables
tdf = tl.tables_df
print(tdf.shape)
tdf

(1140, 13)

/Users/eric/proj/metatab-dev/metapack-dev/publicdata_census/src/publicdata/census/files/metafiles.py:566: FutureWarning: The default value of regex will change from True to False in a future version.
  df['stripped_title'] = df.stripped_title.str.replace(s, '')

,table_id,seq,start_pos,title,universe,subject,race,age_range,age,sex,bare_title,stripped_title,redundant_paths
0,B01001,[1],7,Sex By Age,Total population,Age-Sex,all,None,all,all,Sex By Age,Population,False
1,B01001A,[1],56,Sex By Age (White Alone),People who are White alone,Age-Sex,white,None,all,all,Sex By Age,Population,False
2,B01001B,[1],87,Sex By Age (Black Or African American Alone),Black or African American alone,Age-Sex,black,None,all,all,Sex By Age,Population,False
3,B01001C,[1],118,Sex By Age (American Indian And Alaska Native ...,People who are American Indian and Alaska Nati...,Age-Sex,aian,None,all,all,Sex By Age,Population,False
4,B01001D,[1],149,Sex By Age (Asian Alone),People who are Asian alone,Age-Sex,asian,None,all,all,Sex By Age,Population,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,B992708,[147],59,Allocation Of Tricare/Military Health Coverage,Civilian noninstitutionalized population,Imputations,all,None,all,all,Allocation Of Tricare/Military Health Coverage,Allocation Of Tricare/Military Health Coverage,False
1136,B992709,[147],62,Allocation Of Va Health Care,Civilian noninstitutionalized population,Imputations,all,None,all,all,Allocation Of Va Health Care,Allocation Of Va Health Care,False
1137,B99281,[147],65,Allocation Of Household Internet Access,Households,Imputations,all,None,all,all,Allocation Of Household Internet Access,Allocation Of Household Internet Access,False
1138,B99282,[147],68,Allocation Of Household Computer Type,Households,Imputations,all,None,all,all,Allocation Of Household Computer Type,Allocation Of Household Computer Type,False
1139,B99283,[147],77,Allocation Of Household Internet Subscription ...,Households,Imputations,all,None,all,all,Allocation Of Household Internet Subscription ...,Allocation Of Household Internet Subscription ...,False

In [17]:
cdf = tl.columns_df
cdf.shape

(27850, 18)

In [19]:
cdf[cdf.filtered_path.isnull()].n_levels.value_counts()

0    16589
Name: n_levels, dtype: int64

In [5]:
cdf[(cdf.sex == 'male') & (cdf.raceeth == 'white')].head()

,uid,table_id,name,sex,raceeth,age,age_range,min_age,max_age,poverty_status,path,filtered_path,filtered_pathname,n_levels,level_1,level_2,level_3,level_4
50,B01001A_002,B01001A,Male,male,white,all,None,0,120,all,/total/male,None,,0,None,None,None,None
51,B01001A_003,B01001A,Under 5 years,male,white,000-005,"(0, 5)",0,5,all,/total/male/under 5 years,None,,0,None,None,None,None
52,B01001A_004,B01001A,5 to 9 years,male,white,005-009,"(5, 9)",5,9,all,/total/male/5 to 9 years,None,,0,None,None,None,None
53,B01001A_005,B01001A,10 to 14 years,male,white,010-014,"(10, 14)",10,14,all,/total/male/10 to 14 years,None,,0,None,None,None,None
54,B01001A_006,B01001A,15 to 17 years,male,white,015-017,"(15, 17)",15,17,all,/total/male/15 to 17 years,None,,0,None,None,None,None

In [6]:
lc = cdf.level_1.value_counts()
cdf[cdf.level_1.isin(lc[lc == 1].index)].head()

,uid,table_id,name,sex,raceeth,age,age_range,min_age,max_age,poverty_status,path,filtered_path,filtered_pathname,n_levels,level_1,level_2,level_3,level_4
27406,B98002_002,B98002,Final actual interviews,all,all,all,None,0,120,all,/initial sample selected/final actual interviews,/initial sample selected,/initial sample selected/final actual interviews,1,initial sample selected,None,None,None

In [7]:
tdf[tdf.universe.apply(Column.extract_age).isnull()].sample(30).head()

,table_id,seq,start_pos,title,universe,subject,race,age_range,age,sex,bare_title,stripped_title,redundant_paths
1083,B99182,[146],107,Allocation Of Hearing Difficulty For The Civil...,Civilian noninstitutionalized population,Imputations,all,None,all,all,Allocation Of Hearing Difficulty For The Civil...,Allocation Of Hearing Difficulty For The Civil...,False
512,B19001,[58],7,Household Income In The Past 12 Months (In 202...,Households,Income,all,None,all,all,Household Income In The Past 12 Months (In 202...,Household Income (),False
977,C27001C,[137],141,Health Insurance Coverage Status By Age (Ameri...,AMERICAN INDIAN AND ALASKA NATIVE ALONE CIVILI...,Health Insurance,aian,None,all,all,Health Insurance Coverage Status By Age,Health Insurance Coverage Status By Age,False
511,C18131,[57],197,Ratio Of Income To Poverty Level In The Past 1...,Civilian Noninstitutionalized Population for W...,Disability,all,None,all,all,Ratio Of Income To Poverty Level In The Past 1...,Ratio Of Income To Poverty Level By Disabilit...,False
803,B25019,[118],37,Aggregate Number Of Rooms,Housing units,Housing,all,None,all,all,Aggregate Number Of Rooms,Aggregate Number Of Rooms,False

In [8]:
t = tdf[['table_id','bare_title','universe']].merge(cdf)

restr_cols = 'sex','raceeth','age_range','poverty'

    
t.apply(lambda r: f"{r.bare_title} for {r.universe}", axis=1).sample(30).to_list()

['Sex By Place Of Birth By Year Of Entry For The Foreign-Born Population for Foreign-born population',
 'Detailed Occupation By Median Earnings In The Past 12 Months (In 2020 Inflation-Adjusted Dollars) For The Full-Time, Year-Round Civilian Employed Female Population 16 Years And Over for Full-time, year-round civilian employed female population 16 years and over with earnings',
 'Sex By School Enrollment By Level Of School By Type Of School For The Population 3 Years And Over for Population 3 years and over',
 'Sex By Educational Attainment For The Population 25 Years And Over for American Indian and Alaska Native alone population 25 years and over',
 'Types Of Health Insurance Coverage By Age for Civilian noninstitutionalized population',
 'Tenure By Vehicles Available By Age Of Householder for Occupied housing units',
 'Place Of Birth By Age In The United States for Total population in the United States',
 'Sex By Age By Nativity And Citizenship Status for People who are Some Other Race alone',
 'Private Health Insurance Status By Sex By Age for Civilian noninstitutionalized population',
 'Group Quarters Type (3 Types) By Employment Status for Population 16 years and over',
 'Allocation Of Earnings In The Past 12 Months For The Population 16 Years And Over - Percent Of Earnings Allocated for Population 16 years and over',
 'Units In Structure for Occupied housing units with a householder who is American Indian and Alaska Native alone',
 'Detailed Occupation For The Civilian Employed Male Population 16 Years And Over for Civilian employed male population 16 years and over',
 "Field Of Bachelor'S Degree For First Major The Population 25 Years And Over for ASIAN ALONE POPULATION 25 YEARS AND OVER WITH A BACHELOR'S DEGREE OR HIGHER ATTAINMENT",
 'Average Household Size Of Occupied Housing Units By Tenure for Occupied housing units',
 'Health Insurance Coverage Status By Ratio Of Income To Poverty Level In The Past 12 Months By Age for Civilian noninstitutionalized population for whom poverty status is determined',
 'Poverty Status In The Past 12 Months By Sex By Age for White alone population for whom poverty status is determined',
 'Detailed Occupation For The Civilian Employed Male Population 16 Years And Over for Civilian employed male population 16 years and over',
 'Age By Veteran Status By Employment Status For The Civilian Population 18 To 64 Years for Civilian population 18 to 64 years',
 'Geographical Mobility In The Past Year By Individual Income In The Past 12 Months (In 2020 Inflation-Adjusted Dollars) For Current Residence In The United States for Population 15 years and over in the United States',
 'Household Type By Household Size for Households',
 'Place Of Birth For The Foreign-Born Population In The United States for Foreign-born population excluding population born at sea',
 'Sex By Age By Employment Status For The Population 16 Years And Over for White alone population 16 years and over',
 'Language Spoken At Home By Ability To Speak English For The Population 5 Years And Over for Population 5 years and over',
 'Private Health Insurance Status By Sex By Age for Civilian noninstitutionalized population',
 'Detailed Occupation For The Civilian Employed Population 16 Years And Over for Civilian employed population 16 years and over',
 'Median Age By Group Quarters Type (5 Types) for Total Population',
 'Detailed Occupation For The Full-Time, Year-Round Civilian Employed Population 16 Years And Over for Full-time, year-round civilian employed population 16 years and over',
 'Means Of Transportation To Work By Industry for Workers 16 years and over',
 'Detailed Occupation For The Full-Time, Year-Round Civilian Employed Female Population 16 Years And Over for Full-time, year-round civilian employed female population 16 years and over']

In [9]:
print(tdf.columns)
print(cdf.columns)

Index(['table_id', 'seq', 'start_pos', 'title', 'universe', 'subject', 'race',
       'age_range', 'age', 'sex', 'bare_title', 'stripped_title',
       'redundant_paths'],
      dtype='object')
Index(['uid', 'table_id', 'name', 'sex', 'raceeth', 'age', 'age_range',
       'min_age', 'max_age', 'poverty_status', 'path', 'filtered_path',
       'filtered_pathname', 'n_levels', 'level_1', 'level_2', 'level_3',
       'level_4'],
      dtype='object')

In [10]:
cdf[(cdf.table_id=='B04004') & ~cdf.level_2.isnull()]

Empty DataFrame
Columns: [uid, table_id, name, sex, raceeth, age, age_range, min_age, max_age, poverty_status, path, filtered_path, filtered_pathname, n_levels, level_1, level_2, level_3, level_4]
Index: []